.banner-container {
  min-height: 200vh;
  text-align: center;
  padding-top: 200px;
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-size: 75px;
  color: white;
}

h2 {
  font-size: 40px;
  color: #ffffff;
  font-style: italic;
}

.button {
  width: 220px;
  height: 80px;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #fed136;
  color: white;
  transition: 0.8;
  cursor: pointer;
  font-family: "Lacquer", sans-serif;
  font-weight: 700;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

button:hover {
  box-shadow: 1px 4px 5px black;
}

header {
  height: 90px;
  background-color: transparent;
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.logo {
  color: #fed136;
  font-size: 1.75em;
  font-family: "Kaushan Script";
  font-style: italic;
}
header > div {
  height: 100%;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 90%;
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: 400;
}

header nav ul {
  margin-right:40px;
  width:400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

header > div button {
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
}



@media screen and (max-width: 750px) {
  header nav {
    position:absolute;
    left:0;
    top:90px;
    height:150px;
    background-color: #212529;
    overflow:hidden;
    height:0px;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    z-index:0;
  }
  header{
    z-index:3;
    background-color:#212529;
  }

  .show {
    top:90px;
    position: absolute;
    display:inline-block;
    height:150px;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
  }

  header nav > ul {
    z-index:0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 120px;
    padding-top: 0;
    width: 100vw;
  }

  header > div button {
    border-radius:5px;
    position: fixed;
    border:none;
    top: 20px;
    right: 20px;
    height: 35px;
    width: 90px;
    background: #fed136;
    z-index: 2;
    display: initial;
  }
}